@model IEnumerable<AuthorizerPresentation.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>List Of All Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessToPageA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessToPageB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessToPageC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessToPageA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessToPageB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessToPageC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { rolename = item.RoleName }) |
            @Html.ActionLink("Delete", "Delete", new { rolename = item.RoleName })
        </td>
    </tr>
}

</table>
